.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 1rem 2rem;
  background-color: #fff;
  border-bottom: 1px solid #e0e0e0;
}

.logo__link {
  font-family: 'Orbitron', sans-serif; /* или любой выбранный шрифт */
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: #000;
}

.nav__list {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav__link {
  text-decoration: none;
  color: #333;
  font-size: 1.125rem;
  position: relative;
}

.nav__arrow {
  font-size: 0.7em;
  margin-left: 0.25rem;
}

.search__form {
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  flex: 2;
  width: 450px;
  max-width: 450px;
  margin: 0 1rem;
}

.search__input {
  border: none;
  background: transparent;
  outline: none;
  flex: 1;
  padding: 0.5rem;
  font-size: 0.9rem;
}

.search__button {
  background: none;
  border: none;
  cursor: pointer;
  color: #666;
}

.cart__link,
.account__link {
  margin-left: 1rem;
  color: #333;
  display: flex;
  align-items: center;
}


.header__account{
    display: flex;
    flex: wrap;
    justify-content: center;
    align-items: center;
   gap: 2rem;
}
.header__account img{
    width: 24px;
    height: 24px;
}